html {
  font-family: sans-serif;
}

body {
  box-sizing: content-box;
}

.flex-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.flex-items {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: #000;
}

img {
  max-width: 50px;
  max-height: 50px;
}
